body {
  background-color: grey;
}

p {
  color: white;
  margin-left: 43px;  
}

h1{
  color: white;
  font-size: 90px;
  font-family: Cursive;
}

h3{
  color: white;
  margin-left: 43px;
  font-size: 25px;  
}

h2{
  color: white;
  font-size: 35px;
  font-family: Cursive;
}

h4{
  color: white;
  margin-left: 43px;
}

ul{
  color: white;
  margin-left: 43px;
}

img{
  width: 15%;
}
